[submodule "llvm"]
	path = llvm
	url = git@github.com:securesystemslab/multicompiler-priv.git
	branch = cfar_38
[submodule "clang"]
	path = clang
	url = git@github.com:/securesystemslab/multicompiler-clang-priv.git
	branch = cfar_38
[submodule "compiler-rt"]
	path = compiler-rt
	url = git@github.com:/securesystemslab/multicompiler-compiler-rt-priv.git
	branch = cfar_38
[submodule "poolalloc"]
	path = poolalloc
	url = git@github.com:/securesystemslab/poolalloc
	branch = cfar_38
[submodule "svf"]
	path = svf
	url = git@github.com:/rboggild/SVF
[submodule "binutils"]
	path = binutils
	url = git@github.com:/securesystemslab/binutils.git
	branch = random_commons-2_26
